@use '@/styles/colors.scss' as *;

.wrapper {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.checkbox {
  display: none;
}

.label {
  position: relative;
  padding-left: 30px;
}

.label::before {
  content: "";
  left: 0;
  top: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  position: absolute;
  border-radius: 5px;
  justify-content: center;
  transform: translateY(-50%);
  background-color: #224957;
  transition: background-color 0.3s;
}

.checkbox:checked + .label::before {
  content: "✓";
  color: $white;
  font-size: 14px;
}
