@use '@/styles/colors.scss' as *;

.signin {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: $white;
  font-size: 64px;
  margin-bottom: 40px;
  font-family: 'Montserrat 600';
}

.form {
  color: $white;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat 400';
}

.input__wrapper {
  width: 300px;
  margin-bottom: 24px;
}

.button__wrapper {
  width: 300px;
  height: 54px;
}

.error__wrapper {
  font-size: 12px;
  margin-top: 5px;
  color: $fireOpal;
}