@use '@/styles/colors.scss' as *;

.input {
  width: 100%;
  height: 45px;
  border: none;
  color: $white;
  padding-left: 16px;
  border-radius: 10px;
  transition: opacity 0.3s;
  background-color: $darkSlateGray;

  &:hover {
    opacity: 0.6;
  }

  &::placeholder {
    opacity: 0.5;
    color: $white;
    font-weight: bold;
    font-family: 'Montserrat 400';
  }
}